body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(121deg, #AD00FF 0%, #0C0056 100%), linear-gradient(121deg, #FA00FF 0%, rgba(0, 255, 71, 0) 100%), linear-gradient(127deg, #00F0FF 0%, #A80000 100%), radial-gradient(107% 142% at 15% 104%, #F3D0FC 0%, #1700A4 100%), radial-gradient(100% 100% at 50% 0%, #7300A9 0%, #00FFE0 100%), radial-gradient(100% 100% at 50% 0%, #7300A9 0%, #00FFE0 100%), linear-gradient(127deg, #B7D500 0%, #2200AA 100%);
    background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal;
    }
    

  
  header {
    background-color: #008080; /* Verde Água */
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  nav {
    background-color: #000; /* Preto */
    color: #fff;
    text-align: center;
    padding: 10px;
  }


  

  #sobre-nos {
    margin-top: 20px;
    text-align: center;
  }
  
  .foto-container {
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      
      .carousel-container {
        text-align: center;
        position: relative;
      }
      
      .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
      }
      
      .carousel-item {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      
      .carousel-item.active {
        opacity: 1;
      }
    /* Est//ilo do carrossel de fotos */
  }
  
  .descricao {
    margin-top: 20px; /* Espaçamento entre fotos e texto */
    text-align: center;
  }
  
  .descricao p {
    font-size: 18px;
    line-height: 1.5;
  }
  .slide img {
    max-width: 500px; /* Largura máxima desejada */
    height: auto;
  }

  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
    animation: fadeAnimation 1s ease-in-out; /* Adiciona animação de fade */
  }
  

  
 /* Estilos do slider */
/* Estilos do slider */
/* Estilos do slider */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
  }
  
  /* Estilize o slider */
  #amor-slider {
    width: 80%;
    height: 15px;
    background: linear-gradient(to right, #ff5a5f 0%, #ff5a5f var(--val)%, #fff var(--val)%, #fff 100%);
    border-radius: 5px;
    outline: none;
    appearance: none;
    background-color: #ff0008;
    position : relative;
  }
  
  /* Estilos da bateria */
  .battery {
    width: 50px;
    height: 80px;
    background-color: #ccc;
    position: relative;
    border: 1px solid #fdfdfd;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .battery-level {
    width: 100%;
    height: var(--battery-level, 50%);
    position: absolute;
    bottom: 0;
    background-color: green;
    transform-origin: bottom center;
    transition: height 0.3s ease-in-out;
  }
  
  .battery-percentage {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #f1f1f1;
  }
/* Estilos do botão */
#enviar-amor {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #008080;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #enviar-amor:hover {
    background-color: #006666;
  }

  #nossas-musicas {
    margin-top: 40px;
    text-align: center;
  }
  
  .album-container {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .album-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .album-container img:hover {
    transform: scale(1.05);
  }
  
  
  @keyframes fadeAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .prev-btn,
  .next-btn {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background-color: #2600ff; /* Verde Água */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }

  /* Estilos para o contador */

  .title {
    font-family: "Nome da Fonte Apaixonada", sans-serif; /* Substitua "Nome da Fonte Apaixonada" pela fonte desejada */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    color: #ff0000; /* Cor Vermelha */
}
.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 10px;

  
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

.countdown-digit {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff0000; /* Vermelho */
  background-color: #000; /* Preto */
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}

.countdown-label {
  font-size: 1rem;
  margin-top: 5px;
}

/* Estilos adicionais para mobile */
@media (max-width: 610px) {
  .countdown-digit {
      font-size: 2rem;
      padding: 8px 12px;
  }

  .countdown-label {
      font-size: 0.8rem;
  }
}

/*CAIXINHA*/

/* Estilos para a caixa financeira */
.finance-box {
 
  border-radius: 10px;
  padding: 20px;
  
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-square {
  background-color: #000;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adicionado para espaço entre ícone e informações */
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  max-width: 250px;
  height: auto;
}

.finance-info {
  color: #fff;
  text-align: left;
}

.update-section {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
}

.update-section input {
  margin-right: 10px;
}



/* Estilos adicionais para mobile */
@media (max-width: 400px) {
  /* ... */
}


/* Estilos para o pop-up */
/* Estilos para o pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
 
  border-radius: 10px;
  padding: 40px;
 
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 90%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}

.popup-content h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.popup-content-flex {
  display: flex;
  justify-content: space-between;
}

.existing-metas, .new-meta-form {
  flex-basis: 48%;
}

.existing-metas h3, .new-meta-form h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.existing-metas ul {
  list-style-type: none;
  padding-left: 0;
}

.existing-metas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.new-meta-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.new-meta-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #534f4f;
  border-radius: 5px;
}

.new-meta-form button {
  background-color: #ff5555;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-meta-form button:hover {
  background-color: #ff3333;
}

/* Estilo para os botões de remoção */
.remove-button {
  background-color: #ff5555;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.remove-button:hover {
  background-color: #ff3333;
}

  
  
  #medidor-amor {
  
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #amor-slider {
    width: 50%;
  }
  
  #amor-valor {
    text-align: center;
    margin-top: 10px;
  }

  .black-square3 {
    background-color: #000;
    border-radius: 30px;
    padding: 6px;
    display: flex;
    align-items: center;
  
  }

  

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
 }
  
.complaint-box {
  width: 400px;
  height: auto;
  background-color: #000000;
  color: rgba(231, 0, 0, 0.904);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.select-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#complaint-from {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #4b4747;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.complaint-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  background-color: #4b4747;
  color: rgb(241, 234, 234);
  border-radius: 5px;
}

.submit-button {
  display: block;
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #a00;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup button {
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.popup button:hover {
  background-color: #a00;
}
  

  /* Estilos gerais */

  
  .conteudo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza o texto no modo responsivo */
  }
  
  .foto-container {
    max-width: 100%;
  }
  
  .descricao {
    margin-top: 20px;
  }
  
  .descricao p {
    font-size: 18px;
    line-height: 1.5;
  }

  /* Estilos para o questionário */
/* Estilos para o questionário */
.questionnaire {
 
  border-radius: 10px;
  padding: 20px;
 
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.black-square2 {
  background-color: #000;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin-top: 20px;
  flex-direction: column;

}

.black-square2 h1.title {
  text-align: left;
  color: #f50505;
  margin-bottom: 2px;
}

#needs-form {
  display: flex;
  flex-direction: row; /* Alterado para flex-direction: row */
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;

}

.options-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}



#needs-form label {
  color: #fff;
  margin-bottom: 10px;
}

#needs-form input {
  margin-right: 5px;
}

#send-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  align-items: center;
  
}

#send-button:hover {
  background-color: #990000;
}

/* Restante do seu CSS... */
.cards-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}



@media all and (max-width: 400px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

#emily-card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(255, 3, 3, 0.233),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

#emily-card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

#emily-card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

#emily-card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

#emily-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(255, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

#thais-card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(255, 3, 3, 0.233),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

#thais-card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

#thais-card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

#thais-card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

#thais-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(255, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black

  


/* Estilos específicos para dispositivos móveis */
@media screen and (max-width: 400px) {
    /* Ajuste de margem para centralizar no modo responsivo */
    .foto-container {
      margin: 0 auto;
    }
  
    .descricao {
      margin: 10px auto;
    }
  
    .slider-container {
      margin: 0 auto;
    }
  
    #amor-slider {
      width: 100%; /* Ocupa toda a largura disponível */
    }
  }

  /* Estilos do texto sobre o amor */
.love-message {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  
  .love-message p {
    font-size: 18px;
    line-height: 1.5;
  }

  /* Outros estilos ... */

@media (max-width: 400px) {
  .black-square {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .finance-info {
    text-align: center;
  }

  .update-section {
    flex-direction: column;
    align-items: center;
  }

  .update-section input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
  }

  /* Estilos para o pop-up responsivo */
  .popup-content {
    padding: 20px;
    max-width: 100%;
  }

  .existing-metas, .new-meta-form {
    flex-basis: 100%;
    margin-top: 20px;
  }
  
  .existing-metas h3, .new-meta-form h3 {
    text-align: center;
  }
  
  .existing-metas ul {
    margin-top: 10px;
  }

  .existing-metas li {
    flex-direction: column;
    align-items: center;
  }

  .new-meta-form input {
    max-width: 100%;
  }
}

/* Estilos gerais */
.container {
  max-width: 1200px; /* Defina um valor máximo para evitar que o conteúdo fique muito amplo em telas grandes */
  margin: 0 auto;
  padding: 0 20px; /* Adicione um espaçamento horizontal */
}

/* Estilos do texto sobre o amor */
.love-message {
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
  padding: 0 20px; /* Adicione espaçamento horizontal */
}

.love-message p {
  font-size: 18px;
  line-height: 1.5;
}

/* Restante do seu CSS... */
/* ... */

/* Estilos específicos para dispositivos móveis */
@media screen and (max-width: 768px) {
  /* Ajuste de margem para centralizar no modo responsivo */
  .foto-container {
    margin: 0 auto;
  }

  .descricao {
    margin: 10px auto;
  }

  /* Mais ajustes responsivos... */
}
